@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
		* {
		  box-sizing: border-box;
		  margin: 0;
		  padding: 0;
		  font-weight: 300;
		}
		body {
		  font-family: 'Source Sans Pro', sans-serif;
		  color: white;
		  background: #F2F2F2;
		  //background: #eeeeee;
		  font-weight: 300;
		}

		.wrapper {
			background: #009180;
			background: -webkit-linear-gradient(top left, #50a3a2 0%, #009180 50%);
			background: linear-gradient(to top right, #50a3a2 0%, #009180 50%);
			position: absolute;
			top: 38%;
			left: 0;
			width: 100%;
			height: 85%;
			margin-top: -200px;
			overflow: hidden;
			-webkit-box-shadow:inset 0 2px 9px 3px #F2F2F2;
			box-shadow:inset 0 2px 9px 3px #F2F2F2;
		}
		.container {
			max-width: 100%;
			margin: 0 auto;
			padding: 80px 0;
			height: 100%;
			text-align: center;
		}
		.container h1 {
			font-size: 40px;
			margin: 0 auto 15px auto;
		  font-weight: 200;
		}

		form input {

		  	display: block;
		  	text-align: center;
		  	font-size: 20px;
		  	color: white;
		  	font-weight: 500;
			outline: 0;
			border: 3px solid rgba(255, 255, 255, 0.4);
			background-color: rgba(255, 255, 255, 0.2);
		  	width: 300px;
		  	border-radius: 10px;
		  	padding: 15px 15px;
		  	margin: 0 auto 15px auto;
		}

		form input:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}

		form button {
			color: #009180;
		  	background-color: white;
		  	border: 0;
		  	padding: 15px 15px;	
		  	border-radius: 3px;
		  	width: 300px;
		  	cursor: pointer;
		  	font-size: 20px;
		  
		}
		form button:hover {
		  background-color: rgba(238,238,238, 0.5);
		}